<nav>
  <p>Esta es una barra</p>
</nav>


<section class="section-one">
  <h1 class="title">HOLA A TODOS</h1>
  <p class="paragraf">Esta es una pagina de prueba</p>
</section>

<div class="container-description">
  <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet arcu eleifend, feugiat justo at, euismod risus. Nulla urna urna, tincidunt a mi vitae, malesuada feugiat nisi. Sed suscipit convallis libero, eget tempor risus pulvinar a. Curabitur commodo laoreet ultrices. Nunc id lorem at risus interdum sagittis eget nec massa. Curabitur sit amet arcu consequat est egestas tempus facilisis sed magna. Integer vel urna non enim condimentum aliquet.
  </p>
</div>
<button class = "button-template button-template--green" (onclick) = "pressButton()">Boton</button>
<button class = "button-two" (onclick) = "pressButton()">Boton</button>
